In [ ]:
import pandas as pd
import numpy as np

In [ ]:
linkinfo=pd.read_excel('/Users/seohyeonlee/knotinfo/data/linkinfo_data_complete.xls')

In [ ]:
#remove rows where all values are NaN. do the same with columns
linkinfo = linkinfo.iloc[1:, :].reset_index(drop=True)
linkinfo = linkinfo.dropna(axis=0, how='all')
linkinfo = linkinfo.dropna(axis=1, how='all')

In [ ]:
linkinfo.set_index(linkinfo.name_unoriented)

,name,name_anon,diagram,diagram_anon,name_unoriented,category,knot_atlas,knot_atlas_anon,alternating,orientation,...,arf_invariant,smooth_four_genus,topological_four_genus,seifert_matrix,splitting_number,determinant,signature,nullity,unlinking_number,weak_splitting_number
name_unoriented,,,,,,,,,,,,,,,,,,,,,
L2a1,L2a1{1},diagram_display.php?L2a1{1},linkL2a1{1}-50.png,diagram_display.php?L2a1{1},L2a1,2,L2a1,http://katlas.math.toronto.edu/wiki/L2a1,Y,{1},...,undefined,0,0,{{-1}},1,2,-1,0,1,1
L4a1,L4a1{0},diagram_display.php?L4a1{0},linkL4a1{0}-50.png,diagram_display.php?L4a1{0},L4a1,4,L4a1,http://katlas.math.toronto.edu/wiki/L4a1,Y,{0},...,0,0,0,"{{0, 0, -1, 0, 0}, {0, 1, 0, 0, -1}, {0, -1, 1...",2,4,1,0,2,2
L4a1,L4a1{1},diagram_display.php?L4a1{1},linkL4a1{1}-50.png,diagram_display.php?L4a1{1},L4a1,4,L4a1,http://katlas.math.toronto.edu/wiki/L4a1,Y,{1},...,1,1,1,"{{-1, 1, 0}, {0, -1, 1}, {0, 0, -1}}",2,4,-3,0,2,2
L5a1,L5a1{0},diagram_display.php?L5a1{0},linkL5a1{0}-50.png,diagram_display.php?L5a1{0},L5a1,5,L5a1,http://katlas.math.toronto.edu/wiki/L5a1,Y,{0},...,1,1,1,"{{1, 0, -1}, {-1, 1, 1}, {0, 0, -1}}",2,8,1,0,1,1
L5a1,L5a1{1},diagram_display.php?L5a1{1},linkL5a1{1}-50.png,diagram_display.php?L5a1{1},L5a1,5,L5a1,http://katlas.math.toronto.edu/wiki/L5a1,Y,{1},...,1,1,1,"{{1, 0, -1}, {-1, 1, 1}, {0, 0, -1}}",2,8,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
L11n459,"L11n459{1,1,0}","diagram_display.php?L11n459{1,1,0}","linkL11n459{1,1,0}-50.png","diagram_display.php?L11n459{1,1,0}",L11n459,11,L11n459,http://katlas.math.toronto.edu/wiki/L11n459,N,"{1,1,0}",...,undefined,0,0,"{{0, 0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0}, {0,...",NaN,0,-2,1,NaN,NaN
L11n459,"L11n459{0,0,1}","diagram_display.php?L11n459{0,0,1}","linkL11n459{0,0,1}-50.png","diagram_display.php?L11n459{0,0,1}",L11n459,11,L11n459,http://katlas.math.toronto.edu/wiki/L11n459,N,"{0,0,1}",...,undefined,0,0,"{{-1, 1, 0, -1, 0, 0, 0, 0, 0}, {0, -1, 0, 1, ...",NaN,0,2,1,NaN,NaN
L11n459,"L11n459{1,0,1}","diagram_display.php?L11n459{1,0,1}","linkL11n459{1,0,1}-50.png","diagram_display.php?L11n459{1,0,1}",L11n459,11,L11n459,http://katlas.math.toronto.edu/wiki/L11n459,N,"{1,0,1}",...,undefined,0,0,"{{1, 0, -1, 0, 0, 0, 0}, {0, -1, 1, 0, -1, 0, ...",NaN,0,0,1,NaN,NaN
L11n459,"L11n459{0,1,1}","diagram_display.php?L11n459{0,1,1}","linkL11n459{0,1,1}-50.png","diagram_display.php?L11n459{0,1,1}",L11n459,11,L11n459,http://katlas.math.toronto.edu/wiki/L11n459,N,"{0,1,1}",...,undefined,0,0,"{{-1, 1, 0, -1, 0, 0, 0, 0, 0, 0, 0}, {0, -1, ...",NaN,0,0,1,NaN,NaN
L11n459,"L11n459{1,1,1}","diagram_display.php?L11n459{1,1,1}","linkL11n459{1,1,1}-50.png","diagram_display.php?L11n459{1,1,1}",L11n459,11,L11n459,http://katlas.math.toronto.edu/wiki/L11n459,N,"{1,1,1}",...,undefined,0,0,"{{0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0}, {0,...",NaN,0,-6,1,NaN,NaN

In [ ]:
import re

pattern = 'L(\d+)\w\d+'

cleaned_linkinfo['num_links'] = cleaned_linkinfo['name'].apply(lambda row: int(re.findall(pattern, row)[0]))
cleaned_linkinfo['num_links'] == cleaned_linkinfo['category']




#cleaned_linkinfo.iloc[4183, 0]
#re.findall(pattern, 'L11n459{1,1,0}')


#cleaned_linkinfo[cleaned_linkinfo['name'] == 'L11n459{1,1,0}'].category
#num_links[4183]

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
/var/folders/lq/dt070ydd3h13pqgrgy6rpv300000gn/T/ipykernel_14165/2511773947.py:3: SyntaxWarning: invalid escape sequence '\d'
  pattern = 'L(\d+)\w\d+'

0       True
1       True
2       True
3       True
4       True
        ...
4183    True
4184    True
4185    True
4186    True
4187    True
Length: 4188, dtype: bool

In [ ]:
linkinfo.head()

,name,name_anon,diagram,diagram_anon,name_unoriented,category,knot_atlas,knot_atlas_anon,alternating,orientation,...,arf_invariant,smooth_four_genus,topological_four_genus,seifert_matrix,splitting_number,determinant,signature,nullity,unlinking_number,weak_splitting_number
0,Name,NaN,Diagram,NaN,Name - Unoriented,Category,Knot Atlas,NaN,Alternating,Orientation,...,Arf Invariant,Genus-4D,Genus-4D (Top.),Seifert Matrix,Splitting Number,Determinant,Signature,Nullity,Unlinking Number,Weak Splitting Number
1,L2a1{0},diagram_display.php?L2a1{0},linkL2a1{0}-50.png,diagram_display.php?L2a1{0},L2a1,2,L2a1,http://katlas.math.toronto.edu/wiki/L2a1,Y,{0},...,undefined,0,0,{{1}},1,2,1,0,1,1
2,L2a1{1},diagram_display.php?L2a1{1},linkL2a1{1}-50.png,diagram_display.php?L2a1{1},L2a1,2,L2a1,http://katlas.math.toronto.edu/wiki/L2a1,Y,{1},...,undefined,0,0,{{-1}},1,2,-1,0,1,1
3,L4a1{0},diagram_display.php?L4a1{0},linkL4a1{0}-50.png,diagram_display.php?L4a1{0},L4a1,4,L4a1,http://katlas.math.toronto.edu/wiki/L4a1,Y,{0},...,0,0,0,"{{0, 0, -1, 0, 0}, {0, 1, 0, 0, -1}, {0, -1, 1...",2,4,1,0,2,2
4,L4a1{1},diagram_display.php?L4a1{1},linkL4a1{1}-50.png,diagram_display.php?L4a1{1},L4a1,4,L4a1,http://katlas.math.toronto.edu/wiki/L4a1,Y,{1},...,1,1,1,"{{-1, 1, 0}, {0, -1, 1}, {0, 0, -1}}",2,4,-3,0,2,2

In [ ]:
cleaned_linkinfo=pd.read_csv('results/cleaned_linkinfo.csv')

In [ ]:
cleaned_linkinfo.head()

,name,name_anon,diagram,diagram_anon,name_unoriented,category,knot_atlas,knot_atlas_anon,alternating,orientation,...,smooth_four_genus,topological_four_genus,seifert_matrix,splitting_number,determinant,signature,nullity,unlinking_number,weak_splitting_number,matrix_zero
0,L2a1{0},diagram_display.php?L2a1{0},linkL2a1{0}-50.png,diagram_display.php?L2a1{0},L2a1,2,L2a1,http://katlas.math.toronto.edu/wiki/L2a1,Y,{0},...,0,0,{{1}},1.0,2,1,0,1.0,1,False
1,L2a1{1},diagram_display.php?L2a1{1},linkL2a1{1}-50.png,diagram_display.php?L2a1{1},L2a1,2,L2a1,http://katlas.math.toronto.edu/wiki/L2a1,Y,{1},...,0,0,{{-1}},1.0,2,-1,0,1.0,1,False
2,L4a1{0},diagram_display.php?L4a1{0},linkL4a1{0}-50.png,diagram_display.php?L4a1{0},L4a1,4,L4a1,http://katlas.math.toronto.edu/wiki/L4a1,Y,{0},...,0,0,"{{0, 0, -1, 0, 0}, {0, 1, 0, 0, -1}, {0, -1, 1...",2.0,4,1,0,2.0,2,False
3,L4a1{1},diagram_display.php?L4a1{1},linkL4a1{1}-50.png,diagram_display.php?L4a1{1},L4a1,4,L4a1,http://katlas.math.toronto.edu/wiki/L4a1,Y,{1},...,1,1,"{{-1, 1, 0}, {0, -1, 1}, {0, 0, -1}}",2.0,4,-3,0,2.0,2,False
4,L5a1{0},diagram_display.php?L5a1{0},linkL5a1{0}-50.png,diagram_display.php?L5a1{0},L5a1,5,L5a1,http://katlas.math.toronto.edu/wiki/L5a1,Y,{0},...,1,1,"{{1, 0, -1}, {-1, 1, 1}, {0, 0, -1}}",2.0,8,1,0,1.0,1,True

In [ ]:
import re

pattern = 'L(\d+)\w\d+'

cleaned_linkinfo['num_links'] = cleaned_linkinfo['name'].apply(lambda row: int(re.findall(pattern, row)[0]))
cleaned_linkinfo['num_links'] == cleaned_linkinfo['category']




#cleaned_linkinfo.iloc[4183, 0]
#re.findall(pattern, 'L11n459{1,1,0}')


#cleaned_linkinfo[cleaned_linkinfo['name'] == 'L11n459{1,1,0}'].category
#num_links[4183]

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
/var/folders/lq/dt070ydd3h13pqgrgy6rpv300000gn/T/ipykernel_14165/2511773947.py:3: SyntaxWarning: invalid escape sequence '\d'
  pattern = 'L(\d+)\w\d+'

0       True
1       True
2       True
3       True
4       True
        ...
4183    True
4184    True
4185    True
4186    True
4187    True
Length: 4188, dtype: bool

In [ ]:
'determinant' in cleaned_linkinfo.columns

True

In [ ]:
import math
#test if the determinant is a perfect square
determinant_is_square = cleaned_linkinfo['determinant'].apply(lambda row: math.sqrt(row) % 1 == 0)
determinant_is_square

cleaned_linkinfo['determinant_is_square'] = determinant_is_square

In [ ]:
def factor_jones_polynomial(row):
	name = row.name_unoriented
	num_links = row.category
	link = Link(name)
	jones = link.jones_polynomial()
	jones / ()