In [ ]:
import pandas as pd
import numpy as np
from snappy import *

In [ ]:
knotinfo = pd.read_excel('/Users/seohyeonlee/knotinfo/data/knotinfo_data_complete.xls')
linkinfo = pd.read_excel('/Users/seohyeonlee/knotinfo/data/linkinfo_data_complete.xls')

In [ ]:
knotinfo.shape
knotinfo.describe()
knotinfo.head()

,name,name_anon,diagram,diagram_anon,category,category_anon,knot_atlas,knot_atlas_anon,knotilus_page,knotilus_page_anon,...,almost_strongly_qp,almost_strongly_qp_anon,almost_strongly_qp_braid,almost_strongly_qp_braid_anon,ribbon_number,ribbon_number_anon,geometric_type,geometric_type_anon,cosmetic_crossing,cosmetic_crossing_anon
0,Name,NaN,Diagram,NaN,Category,NaN,Knot Atlas Page,NaN,Knotilus Page,NaN,...,Almost SQP,NaN,Almost-SQP Braid,NaN,Ribbon Number,NaN,Geometric Type,NaN,Cosmetic Crossing,NaN
1,0_1,diagram_display.php?_1,0_1-50.png,diagram_display.php?_1,0,NaN,0.1,http://katlas.math.toronto.edu/wiki/0_1,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
2,3_1,diagram_display.php?3_1,3_1-50.png,diagram_display.php?3_1,3,NaN,3.1,http://katlas.math.toronto.edu/wiki/3_1,Go,http://srankin.math.uwo.ca/cgi-bin/retrieve.cg...,...,N,NaN,NaN,NaN,D.N.E.,NaN,"torus knot T(2,3)",NaN,N,NaN
3,4_1,diagram_display.php?4_1,4_1-50.png,diagram_display.php?4_1,4,NaN,4.1,http://katlas.math.toronto.edu/wiki/4_1,Go,http://srankin.math.uwo.ca/cgi-bin/retrieve.cg...,...,N,NaN,NaN,NaN,D.N.E.,NaN,hyperbolic,NaN,N,NaN
4,5_1,diagram_display.php?5_1,5_1-50.png,diagram_display.php?5_1,5,NaN,5.1,http://katlas.math.toronto.edu/wiki/5_1,Go,http://srankin.math.uwo.ca/cgi-bin/retrieve.cg...,...,N,NaN,NaN,NaN,D.N.E.,NaN,"torus knot T(2,5)",NaN,N,NaN

In [ ]:
linkinfo.shape
linkinfo.describe()
linkinfo.isna().any()
linkinfo.head()

#remove first row
linkinfo = linkinfo.iloc[1:, :].reset_index(drop=True)
linkinfo

,name,name_anon,diagram,diagram_anon,name_unoriented,name_unoriented_anon,category,category_anon,knot_atlas,knot_atlas_anon,...,determinant_anon,signature,signature_anon,nullity,nullity_anon,unlinking_number,unlinking_number_anon,Unnamed: 86,weak_splitting_number,weak_splitting_number_anon
0,L2a1{0},diagram_display.php?L2a1{0},linkL2a1{0}-50.png,diagram_display.php?L2a1{0},L2a1,NaN,2,NaN,L2a1,http://katlas.math.toronto.edu/wiki/L2a1,...,NaN,1,NaN,0,NaN,1,NaN,NaN,1,NaN
1,L2a1{1},diagram_display.php?L2a1{1},linkL2a1{1}-50.png,diagram_display.php?L2a1{1},L2a1,NaN,2,NaN,L2a1,http://katlas.math.toronto.edu/wiki/L2a1,...,NaN,-1,NaN,0,NaN,1,NaN,NaN,1,NaN
2,L4a1{0},diagram_display.php?L4a1{0},linkL4a1{0}-50.png,diagram_display.php?L4a1{0},L4a1,NaN,4,NaN,L4a1,http://katlas.math.toronto.edu/wiki/L4a1,...,NaN,1,NaN,0,NaN,2,NaN,NaN,2,NaN
3,L4a1{1},diagram_display.php?L4a1{1},linkL4a1{1}-50.png,diagram_display.php?L4a1{1},L4a1,NaN,4,NaN,L4a1,http://katlas.math.toronto.edu/wiki/L4a1,...,NaN,-3,NaN,0,NaN,2,NaN,NaN,2,NaN
4,L5a1{0},diagram_display.php?L5a1{0},linkL5a1{0}-50.png,diagram_display.php?L5a1{0},L5a1,NaN,5,NaN,L5a1,http://katlas.math.toronto.edu/wiki/L5a1,...,NaN,1,NaN,0,NaN,1,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
linkinfo['jones_polynomial']

0                          -x^(-5)-x^(-1)
1                                  -x-x^5
2          -x^(-9)-x^(-5) + x^(-3)-x^(-1)
3                     -x^3-x^7 + x^9-x^11
4       x^(-7)-2/x^5 + x^(-3)-2/x + x-x^3
                      ...
8370                                  NaN
8371                                  NaN
8372                                  NaN
8373                                  NaN
8374                                  NaN
Name: jones_polynomial, Length: 8375, dtype: object

In [ ]:
'alexander_polynomial' in linkinfo.columns
'alexander' in linkinfo.columns

[col for col in linkinfo.columns if 'alexander' in col]
#'alexander_polynomial' in linkinfo.columns
'alexander' in linkinfo.columns

[col for col in linkinfo.columns if 'alexander' in col]
#['multivariable_alexander', 'multivariable_alexander_anon']

['multivariable_alexander', 'multivariable_alexander_anon']

In [ ]:
#multivariable_alexander_anon has no values in it
linkinfo['multivariable_alexander_anon'].sum()

#extract properties needed to determine if link is ribbon
alexander = linkinfo['multivariable_alexander']
jones = linkinfo['jones_polynomial']
linking_matrix = linkinfo['linking_matrix']

In [99]:
from ast import literal_eval
import  re

#process linking matrices
#'matrix_zero' is true if the linking matrix consists of only 0s, false if not, NA if data is missing

def parse_matrix(row):
	if not pd.isna(row):
		nums = re.findall(r'-?\d+', row)
		#print(nums)
		#print(all(num == 0 for num in nums))
		all_zero = all(int(num) == 0 for num in nums)
		#row = row.replace('{', '[').replace('}', ']')
	else:
		all_zero = pd.NA
	return all_zero

linkinfo['matrix_zero'] = linking_matrix.apply(lambda x: parse_matrix(x))

In [ ]:
linkinfo['matrix_zero'].value_counts()

matrix_zero
False    3456
True      732
Name: count, dtype: int64

In [ ]:
#calculate jones determinant
#use sage

In [ ]:
#linkinfo['is_ribbon'] = linkinfo['matrix_zero'] * linkinfo['jones_determinant_zero']